<!-- Thong Bao -->
<!-- Thong Bao -->
<section class="home__container container noti">
    <div class="home__left noti__left">
        <h3 class="home__heading noti__heading">Đăng kí nhận thông báo</h3>
        <p class="home__title noti__title">
            Đăng kí để nhận các thông báo về khuyến mãi. Các bản cập
            nhật phần mềm cho sản phẩm và các thông tin hữu ích liên
            quan đến sản phẩm từ FUJIFILM SHOP.
        </p>
    </div>
    <div class="home__right noti__right">
        <label for="email" class="noti__title">Email:</label>
        <input type="email" name="email" id="noti__email" class="noti__email">
        <input type="submit" value="Gửi" class="noti__btn">
    </div>
</section>
<div class="container footer__container">
    <div class="footer__left">
        <img src="./asset/img/category/logo.png" alt="" class="logo__img logo__footer ">
        <div class="footer__wrap">
            <h4 class="footer__heading">Công ty TNHH XCamera Việt Nam</h4>
            <p class="footer__desc">Địa chỉ: 76 Ngõ 151B Thái Hà, Láng Hạ, Đống Đa, Hà Nội, Việt Nam</p>
            <p class="footer__desc">ĐKKD Số 0110592158 do Sở Kế hoạch và Đầu tư TP. Hà Nội cấp lần đầu ngày 05/01/2024</p>
        </div>
        <div class="footer__address">
            <p class="footer__desc">Cơ sở 1: Số 76 Ngõ 151B Thái Hà, P. Láng Hạ, Q. Đống Đa, Hà Nội.</p>
            <p class="footer__desc">Cơ sở 2: 83 P. Thợ Nhuộm, Trần Hưng Đạo, Hoàn Kiếm, Hà Nội.</p>
        </div>
    </div>
    <div class="footer__right">
        <ul class="footer__list">
            <h4 class="footer__heading">Giới thiệu</h4>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Giới thiệu
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Sản phẩm           
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Liên hệ          
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                   Tin tức
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Hệ thống càng
                </a>
            </li>
        </ul>
        <ul class="footer__list">
            <h4 class="footer__heading">Hỗ trợ khách hàng</h4>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Hướng dẫn hàng
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Hướng dẫn thanh toán
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Chính sách vận chuyển và giao nhận
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Chính sách kiểm hàng
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Chính sách đổi trả
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Chính sách bảo hành
                </a>
            </li>
            <li class="footer__item">
                <img src="" alt="">
                <a href="" class="footer__link">
                    Chính sách bảo mật
                </a>
            </li>
        </ul>
    </div>
</div>