.light{
    --text-color-nav: #0a0a0a;
    --text-color: #232323;
    --text-color-hover: #dd3333;
    --color-home-link: #dd3333;
    --color-home-link-hover: #0693e3;
    --text-color-slide: #c9c7c7;
    --text-drop:#acacac;
    --text-drop-hover:#c4c2c2;
    --text-price: #ec002b;
    --text-gif: #DC004E;
    --text-gif-hover: #f00356;
    --breadcrumbs-color: #666;
    --breadcrumbs-color-hover: #000;
    --text-note: #447744;
    
    --bg-color-hover: #f00356;
    --bg-btn-color-hover: #f00356;
    --bg-btn-color: #DC004E;
    --bg-color: #fff;
    --gif-bg:#fff;

    --drop-border: #474747;
    --filter-color-icon: brightness(0) saturate(100%) invert(58%) sepia(3%) saturate(17%) hue-rotate(350deg) brightness(94%) contrast(90%);
    --filter-color-icon-hover:brightness(0) saturate(100%) invert(41%) sepia(98%) saturate(4501%) hue-rotate(344deg) brightness(91%) contrast(89%);;
}